<!DOCTYPE html>
<html lang="en">
<head>
    <title>password generator</title>
    <link rel="stylesheet" href="../../static/generator/css/home.css">
</head>
<body>
<h1 align="center">Password Generator</h1>
    <div class="main">

        <div class="mainInside">


            <form action="{% url 'password' %}">
                <input type="text" name="length" class="text" placeholder="enter length" autocomplete="off">
                <br>
                <div class="checkboxes">
                    <input type="checkbox" name="uppercase"><span>Uppercase</span>
                    <input type="checkbox" name="numbers" style="margin-left: 55px"><span>Numbers</span>
                    <input type="checkbox" name="special" style="margin-left: 55px"><span>Special Characters</span>
                </div>
                <br>
                <div class="inside">
                    <div class="button">
                        <input type="submit" value="Generate Password" class="button1">
                    </div>
                </div>
            </form>


        </div>

    </div>
</body>
</html>
