<!DOCTYPE html>
<html lang="en">
<head>
    <title>password generator</title>
    <link rel="stylesheet" href="../../static/generator/css/home.css">
</head>
<body>
<h1 align="center">Password Generator</h1>
    <div class="main">

        <div class="mainInside">


            <form action="{% url 'password' %}">
                <input type="text" name="length" class="text" placeholder="enter length">
                <br>
                <div class="checkboxes">
                    <input type="checkbox" name="uppercase"> Uppercase
                    <input type="checkbox" name="numbers" style="margin-left: 55px"> Numbers
                    <input type="checkbox" name="special" style="margin-left: 55px"> Special Characters
                </div>
                <br>
                <div class="button">
                    <input type="submit" value="Generate Password">
                </div>

            </form>
        </div>
    </div>
</body>
</html>
