<html lang="en">
    <head>
        <link rel="stylesheet" href="../../static/generator/css/password.css">
        <title>result</title>
    </head>
<body>
        <h1 align="center">Your password is:</h1>

        <div class="main">

            <div>
                <h2 align="center" class="result">{{ password }}</h2>
            </div>
            <div class="homeButton">
                <form action="{% url 'home' %}"><input type="submit" value="Home" class="button1"></form>
            </div>

        </div>
</body>
</html>

