* {
    font-family: Arial;
}
body {
    background-color: #161616;
}

h1 {
    color: #c7493a;
    font-size: 125px;
    margin-top: 80px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.main {
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, -50%, 0);
}

.result {
    color: #689775;
    font-size: 55px;
}

.homeButton {
    margin-top: 200px;
    justify-content: center;
    display: flex;
}

.button1 {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid #c7493a;
    border-radius: 5px;
    transition: 0.2s;
    color: #c7493a;
    transform: scale(3);


}

.button1 {
    background-color: #161616;
}
.button1:hover {
    background: #272727;
}


:focus::placeholder {
  color: transparent;
}

